
@{
    ViewBag.Title = "Type";
}

<body>
    <section class="main" id="main">
        <div class="content">
            <h2>
                Welkom bij de <span>trainingen</span>
            </h2>

            <div class="card">
                <br />
                Cardio
            </div>
            <div class="card">
                <br />
                Kracht
            </div>

            <br />
            <div>
                <input type="submit" class="btn" value="Bekijk uw trainingen" />
            </div>
            <div>
                <input type="submit" class="btn" value="Meet uw fysieke gesteldheid" />
            </div>

        </div>
    </section>
</body>