
@{
    ViewBag.Title = "Home";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>
                Welkom op de <span>homepage</span>
            </h2>
            
                <div class="card">
                    <br />
                    Blessures
                </div>
                <div class="card">
                    <br />
                    Trainingen
                </div>
                <div class="card">
                    <br />
                    Routes
                </div>
                       
            <br />
            <div>
                <input type="submit" class="btn" value="Bekijk uw trainingen" />
            </div>
            <div>
                <input type="submit" class="btn" value="Meet uw fysieke gesteldheid" />
            </div>


        </div>
    </section>
</body>