
@{
    ViewBag.Title = "Home";
}
<body>
    <section class="authentication" id="authentication">
        <div class="content">
            <h2>
                Welkom op de <span>homepage</span>
            </h2>
            
                <div class="card">
                    Blessures
                </div>
                <div class="card">
                    Trainingen
                </div>
                <div class="card">
                    Routes
                </div>
                       
            <br />
            <div>
                <input type="submit" class="btn" value="Bekijk uw trainingen" />
            </div>
            <div>
                <input type="submit" class="btn" value="Meet uw fysieke gesteldheid" />
            </div>


        </div>
    </section>
</body>